.main {
  background-color: #ffffff;
  margin: 0rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  border: 1px solid #383636;
  margin-bottom: 1rem;
  box-shadow: 5px 5px #000000;
  position: relative;
}

.main__section {
  padding: 0.5rem;
}

.main__section img {
  border-radius: 1rem;
  width: 100%;
  height: 100%;
}

.main__section--body {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}

.main__section--body a {
  font-weight: bold;
  color: #000000;
  background-color: #f4d04eff;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.main__section--body a:hover {
  background-color: rgb(230, 131, 18);
}

.main__section--body p {
  margin: 0rem;
}

.main__section--body h2 {
  margin: 0rem;
}

.main__section--body--text {
  color: #6b6b6bff;
}

.main__footer {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.main__footer p {
  margin: 0rem;
  font-weight: bold;
}

.modal {
  background-color: #27f557;
  position: absolute;
  padding: 1rem;
  border-radius: 1rem;
  text-transform: uppercase;
  font-weight: bold;
  box-shadow: 5px 5px 2px 2px #000000;
  font-size: 2rem;
  top: 0px;
}

.modal__oculto {
  display: none;
}
