a {
  text-decoration: inherit;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4d04eff;
  flex-direction: column;
  margin: auto auto;
  width: 23rem;
  max-width: 90%;
  height: 40rem;
  font-family: "Overpass", sans-serif;
  font-optical-sizing: auto;
  font-size: clamp(0.8rem, 1.5vw, 1rem);
  font-style: normal;
}
